#root {
  width: 1280px;
  margin: 0 auto;
  text-align: center;

  --color-red-100: #ff3030;
  --color-red-200: #d0290d;

  --color-green-100: #5ee25c;
  --color-green-200: #40963e;

  --color-blue-100: #4256ec;
  --color-blue-200: #1a2684;

  --color-yellow-100: #feef82;
  --color-yellow-200: #eadf70;
}
